[submodule "graphy"]
	path = graphy
	url = https://github.com/electroball09/graphy.git
[submodule "configuration"]
	path = configuration
	url = https://github.com/electroball09/configuration.git
[submodule "UnityIngameDebugConsole"]
	path = UnityIngameDebugConsole
url=https://github.com/electroball09/UnityIngameDebugConsole.git
[submodule "stateless"]
	path = stateless
	url = https://github.com/electroball09/stateless.git
