[submodule "graphy"]
	path = graphy
	url = https://github.com/electroball09/graphy.git
[submodule "configuration"]
	path = configuration
	url = https://github.com/electroball09/configuration.git
[submodule "Reactor-Developer-Console"]
	path = Reactor-Developer-Console
	url = https://github.com/mustafayaya/Reactor-Developer-Console.git
